
body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}


.albumContainer {
    margin: 20px;
}


.formContainer {
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
}

.createForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}


.createForm input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.createForm input[type="text"]:focus {
    border-color: #007BFF;
    outline: none;
}


.buttonCreateAlbum {
    background-color: black;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.albumsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 80px;
}


.selectedAlbum {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
}
