body, nav {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    background-image: url('/src/Img/bgJson.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

li {
    margin: 0 10px;
}

nav {
    display: flex;
    justify-content: flex-end; /* Aligns the nav to the right */
    padding: 10px;
    background-color: #f8f8f8; /* Optional: Add background color */
    position: fixed; /* Fixes the nav to the top of the page */
    top: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
    z-index: 1000; 
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-right: 15px;
}

nav li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  backdrop-filter: blur(5px); /* Apply blur to the background */
  transition: background-color 0.3s, backdrop-filter 0.3s;
}

nav li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px); /* Keep the blur effect on hover */
  color: black;
}

.notactive {
    color: grey;
    pointer-events: none; /* This makes the link unclickable */
    cursor: default; /* This changes the cursor to default to indicate it's not clickable */
    text-decoration: none; /* Optionally, remove the underline */
  }