/* General container for the Posts component */

  
  /* Header style */
  .container_Posts h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
  }
  
  /* Search section */
  .container_Posts > div {
   margin-top: 50px;
  }
  
  .container_Posts label {
    margin-right: 10px;
    font-size: 1.2rem;
  }
  
  .container_Posts select {
    padding: 5px;
    font-size: 1.5rem;
    
  }
  

  /* SearchPost component */
  .searchPostContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .searchPostContainer input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }
  
  /* Loading state */
  .container_Posts .loading {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  /* Posts grid */
  .postGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 60px 60px;
    
  }
  
  .userPost {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 4px solid white;
  }
  
  .user-post h2 {
    margin-top: 0;
    font-size: 1.5rem;
  }
  
  .user-post p {
    font-size: 1rem;
  }
  
  /* Create post form */
  .container_Posts form {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 20px auto;
  }
  
  .container_Posts form h2 {
    margin-top: 0;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
  }
  
  .form input::placeholder {
    color: black;
  }

  .container_Posts form input {
    width: calc(100% - 20px); /* Adjust for padding */
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }
  
  .container_Posts form button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .container_Posts form button:hover {
    background-color: #0056b3;
  }
  