.header {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background-color: #f8f8f8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.options {
    display: flex;
    position: relative;
    top: 0;
    flex-direction: row;
    padding: 10px;
    margin-top: 60px;
}

.info {
    position: absolute;
    top: 100px;
    left: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.todos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 80px;
}

.user-todo {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    text-align: left;
}

.user-todo h2 {
    margin-top: 0;
    font-size: 1.25em;
    text-align: center;
}

.user-todo p {
    margin: 8px 0;
}

body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 60px;
}

.todos-grid {
    max-width: 1200px;
    margin: 0 auto;
}

.filter-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.filter-select {
    margin-bottom: 10px;
}

.search-bar {
    margin-bottom: 10px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-options label {
    margin-right: 10px;
}
