/* Remove duplicate h1 class */
/* Adjust the existing h1 class for header styling */
.header {
    display: flex;
    justify-content: flex-start; /* Aligns the nav to the right */
    padding: 10px;
    background-color: #f8f8f8; /* Optional: Add background color */
    position: fixed; /* Fixes the nav to the top of the page */
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000; /* Ensure the nav is above other elements */
}

.options {
    display: flex;
    position: relative;
    top: 0;
    flex-direction: row;
    padding: 10px;
    margin-top: 60px; /* Adjust the margin-top to be below the header */
}

.info {
    position: absolute;
    top: 100px; /* Adjust this value if needed to ensure it appears below the header */
    left: 20px;
    background-color: #f0f0f0; /* Optional: Add background color */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.todos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 20px;
    padding: 20px;
    margin-top: 80px; /* Add margin-top to account for the fixed header */
}

.user-todo {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    text-align: left;
}

.user-todo h2 {
    margin-top: 0;
    font-size: 1.25em;
    text-align: center;
}

.user-todo p {
    margin: 8px 0;
}

body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}


h1 {
    text-align: center;
    margin-top: 60px; /* Add margin-top to account for the fixed header */
}

.todos-grid {
    max-width: 1200px;
    margin: 0 auto;
}

.filter-options {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.filter-options label {
    margin-right: 10px;
}