ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

li {
    margin: 0 10px;
}

nav {
    display: flex;
    justify-content: flex-end; /* Aligns the nav to the right */
    padding: 10px;
    background-color: #f8f8f8; /* Optional: Add background color */
    position: fixed; /* Fixes the nav to the top of the page */
    top: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
    z-index: 1000; /* Ensure the nav is above other elements */
}

nav ul {
    flex-direction: row; 
}

li a {
    text-decoration: none;
    color: #689bb5; 
    padding: 10px 15px; 
    border-radius: 4px; 
    
}

li a:hover {
    background-color: #ddd; /* Optional: Add hover effect */
}

.notactive {
    color: grey;
    pointer-events: none; /* This makes the link unclickable */
    cursor: default; /* This changes the cursor to default to indicate it's not clickable */
    text-decoration: none; /* Optionally, remove the underline */
  }